name: production Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    container: docker://python:3.6
    steps:
    - uses: actions/checkout@v1

    - name: install dependencies
      run: |
        python3 -m venv venv
        . venv/bin/activate
        pip install -r requirements.txt

    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.

  test:
    name: code test
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: print test
      env:
        DJANGO_SETTINGS_MODULE: ${{ secrets.TEST_DJANGO_SETTINGS_MODULE }}
      run: | 
        echo $DJANGO_SETTINGS_MODULE

  deploy:
    name: deploy
    needs: [build, test]
    runs-on: ubuntu-latest

    steps:
      - name: My conditional step
        run: echo This event is ...

      - name: my first step
        if: failure()
        run: echo Failed!
