name: test work flow

on: 
  push|repository_dispatch:
    branches:
      - feature/*
      - develope/*
      - hotfix/*
      - release/*

jobs:
  SlackNotification:
    name: Slack Notification
    needs: [Deploy]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Slack Notification
      uses: rtCamp/action-slack-notify@master
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_CHANNEL: git_timespread
        SLACK_MESSAGE: 'Post Content :rocket:'
        SLACK_TITLE: Post Title
        SLACK_USERNAME: github


  BuildAndTest:
    name: builid and test
    runs-on: ubuntu-latest
    container: docker://python:3.6
    steps:
    - uses: actions/checkout@v1  # 코드 가져오기

    - name: install package
      run: |
        apt-get -y update
        apt-get install -y default-libmysqlclient-dev python3-mysqldb \
                      default-mysql-client python-pip python3-dev build-essential
        ln -s /usr/lib/x86_64-linux-gnu/libmysqlclient.so /usr/lib/libmysqlclient.so.18

    - name: install dependencies
      run: |
        python3 -m venv venv
        . venv/bin/activate
        pip install --upgrade setuptools
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: pytest
      env:
        DJANGO_SETTINGS_MODULE: ${{ secrets.TEST_DJANGO_SETTINGS_MODULE }}
      run: | 
        echo $DJANGO_SETTINGS_MODULE
        . venv/bin/activate
        pytest

  Approval:
    name: deploy approval
    if: github.event_name == 'repository_dispatch'
    run: 
      echo test

  Deploy:
    name: deploy
    needs: [BuildAndTest, Approval]
    runs-on: ubuntu-latest
    container: docker://python:3.6
    steps:
    - name: install package
      run: |
        apt-get -y update
        curl -sL https://deb.nodesource.com/setup_10.x | bash -
        apt-get install -y nodejs
        pip install awsebcli --upgrade
        pip install awscli --upgrade

    - name: My conditional step
      run: echo This event is a pull request that had an assignee removed.


    
